/* Table Header */
/* Table Header */
.table thead {
    background-color: #DAD5FB;
}

  /* Table Data Alignment */
  .table td, .table th {
    vertical-align: middle;
    text-align: center;
  }
  
  /* Buttons */
  /* .btn {
    background-color: #AC9EFF;
    color: white;
    border: none;
  }
  
  .btn:hover {
    background-color: #9a80ff;
    color: white;
  } */
  
  /* Button spacing */
  .ml-2 {
    margin-left: 0.5rem;
  }
  
  /* Additional styling for table */
  .table {
    width: 100%;
    margin-top: 20px;
  }
  

  /* Align the button to the right */
.btn-primary {
    float: right;
  }

  
  /* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
  }
  
  /* Modal Buttons */
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-buttons .btn {
    width: 45%;
  }
  
  /* Close Button */
  .btn-danger {
    background-color: #f44336;
  }
  