/* Nav Bar Styles */
.nav-links {
  display: flex;
  gap: 26px;
  margin-right: 24vh;
  margin-top: 6px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 10px;
  padding-top: 2px;
  transition: color 0.3s ease-in-out;
  position: relative;
  gap: 12px;
}

.nav-item .nav-icon {
  width: 28px;
  height: 28px;
}

.nav-item .nav-label {
  font-size: 16px;
  color: #6c757d;
}

.nav-item.active .nav-label {
  color: #832ae3;
  font-weight: bold;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 96%;
  height: 3px;
  background-color: #832ae3;
  transform: translateX(-50%);
  border-radius: 2px;
}

.bell-icon {
  font-size: 26px;
  color: #6c757d;
  cursor: pointer;
  margin-right: 16px;
}

.bell-icon:hover {
  color: #832ae3;
}

.profile-picture-preview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  margin-right: 10px;
}

.avatar-head-txt {
  font-weight: bold;
  font-size: 1.2rem;
  color: #252525 !important;
}

.custom-navbar {
  background-color: white;
  padding: 0px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container .logo {
  width: 70px;
  height: 60px;
}



.add-notification-icon {
  margin-left: -4px;
  margin-bottom: 2px;
}

.card,
.list-group-item {
  background: transparent !important;
  border: none !important;
}

.app-sidebar {
  margin-top: 62px;
}

.app-body {
  margin-top: 62px;
}

.sidebar-logout:hover {
  background-color: red;
  color: #ffffff;
}
.sidebar {
  width: 300px;
  height: 100vh;
  top: 0;
  right: 0;
  overflow-y: auto;
  padding: 10px;
  background: transparent !important;
}

/* Footer Styles*/
.footer {
  background-color: #ffffff;
  padding: 20px 4vw;
  border-top: 2px solid #e6e6e6;
}

.footer-nav {
  margin-bottom: 15px;
  font-size: 15px;
  color: #333;
}

.footer-text {
  font-size: 15px;
  color: #333;
  margin-bottom: 0;
}

.footer-divider {
  border-top: 2px solid #757575;
  margin: 15px 0;
}

.footer-bottom {
  font-size: 15px;
  color: #666;
}

.footer-link {
  text-decoration: none;
  color: #666;
  font-size: 15px;
}

.footer-link:hover {
  color: #a367e4;
  font-weight: 500;
}

.footer-copyright {
  color: #666;
  font-size: 15px;
}

.social-icon {
  color: #bb87fa;
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #a367e4;
}

.footer-tab-links {
  cursor: pointer;
}

.footer-tab-links:hover {
  color: #a367e4;
  font-weight: 500;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 4vh;
  color: #666;
}

.footer-logo {
  width: 70px;
  height: 60px;
}

.custom-font {
  font-family: "Roboto", sans-serif;
}

.large-letter {
  font-size: 5.5vh;
  color: #a367e4;
}

.normal-text {
  font-size: 3.5vh;
}

/*sign-Up Page Styles*/
.section .imgBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(255deg, #000000, #464c50);
  z-index: 1;
  mix-blend-mode: screen;
}
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Left Image Box */
.imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right Content Box */
.contentBx {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Form Box */
.formBx {
  max-height: 90vh;
  width: 70%;
  padding: 40px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 2;
}

.signuph2 {
  color: #000;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #bb87fa;
  display: inline-block;
  letter-spacing: 1px;
}

.signupinputBx {
  margin-bottom: 20px;
}

.loginlogo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.signuph2 {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 4px solid #c799ff;
  display: inline-block;
  letter-spacing: 1px;
}
.loginh2 {
  text-align: left;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 4px solid #c799ff;
  letter-spacing: 1px;
  width: fit-content;
  margin-bottom: 30px;
}

/* Input Fields */
.signupinputBx {
  margin-bottom: 10px;
}

.signupinputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607db8;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.signupinput {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #bb87fa;
  font-size: 16px;
  letter-spacing: 1px;
  color: #bb87fa;
  background: transparent;
  border-radius: 30px;
}

/* Sign Up Button */
.signupbutton {
  width: 100%;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  color: #bb87fa;
  background: transparent;
  border-radius: 30px;
  background: #bb87fa;
  color: #fff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.signupbutton:hover {
  background: #a367e4;
}

/* Remember Me */
.remember {
  margin-bottom: 20px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

/* Paragraph & Link */
.signuppara {
  color: #607d8b;
}

.signuplink {
  color: #bb87fa;
}

/* Inventory Page Styles*/
.inventory-body {
  background-color: #f8f9fa;
}

.inventory-container {
  max-width: 77vw;
}

.inventory-shadow-sm {
  border-radius: 10px;
}

.inventory-category-section {
  padding: 10px 16px;
  background-color: #f5edff;
}

.inventory-categories-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  padding: 12px 2px;
}

.inventory-categories-container::-webkit-scrollbar {
  height: 5px;
}

.inventory-categories-container::-webkit-scrollbar-thumb {
  background: #d8b8ff;
  border-radius: 10px;
}

.inventory-category-card {
  width: 150px;
  min-width: 150px !important;
  max-width: 150px !important;
  margin-right: 10px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff !important;
  height: 170px !important;
}

.inventory-category-image {
  width: 100%;
  height: 80px;
  border-radius: 6px;
  border: #e4e4e4 4px solid;
}

.inventory-category-name {
  margin-top: 8px;
  font-weight: bold;
  font-size: 16px;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.inventory-category-item-count {
  margin-top: 4px;
  font-weight: bold;
  font-size: 20px;
  color: #a367e4;
}

.add-inventory-button {
  background: #bb87fa !important;
  border: none;
  margin-right: 6px;
  font-size: 17px;
  outline: none;
  box-shadow: none;
  padding: 8px 20px;
}

.add-inventory-button:hover {
  background: #a367e4 !important;
}

.inventory-table-wrapper {
  max-height: 50vh;
  overflow: hidden;
}

.inventory-table-body {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.inventory-table-body tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inventory-table-wrapper thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inventory-table-body::-webkit-scrollbar {
  width: 6px;
}

.inventory-table-body::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.inventory-table-body::-webkit-scrollbar-thumb {
  background: #d8b8ff;
  border-radius: 10px;
}

.inventory-table-body::-webkit-scrollbar-thumb:hover {
  background: #a56eff;
}

.inventory-actions-row {
  display: flex;
  padding: 0px !important;
  align-items: center;
}

td.inventory-actions-cell {
  height: 100%;
  padding: 0;
}

.inventory-actions-row {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.inventory-actions-no-bg {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.inventory-actions-no-bg img {
  width: 23px;
  height: 24px;
}

.inventory-pie-chart {
  max-height: 450px !important;
}

.inventory-line-chart {
  max-height: 450px !important;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.add-inventory-modal {
  min-width: 35vw !important;
  padding-right: 0px !important;
}

.custom-inventory-form-group {
  position: relative;
  margin-bottom: 32px;
}

.custom-inventory-form-group label {
  position: absolute;
  top: -14.5px;
  left: 12px;
  background: white;
  padding: 0px 6px;
  font-size: 14px;
  color: #49494a;
  font-weight: bold;
}

.custom-inventory-form-group input,
.custom-inventory-form-group select {
  width: 100%;
  padding: 12px;
  border: 2px solid #d8b8ff;
  border-radius: 30px;
  outline: none;
  font-size: 14px;
  background: white;
  appearance: none;
}

.custom-inventory-form-group input:focus,
.custom-inventory-form-group select:focus {
  border-color: #6a5acd !important;
}

.custom-inventory-form-input {
  padding-left: 20px !important;
  padding-right: 5px !important;
  color: #999999 !important;
  font-weight: 500;
}

.custom-inventory-form-input-date {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #999999 !important;
  font-weight: 500;
}

.custom-inventory-form-input::placeholder {
  color: #999999 !important;
  opacity: 1;
}

.custom-inventory-form-group select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20' fill='gray'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;
  padding-right: 35px;
}

.add-inventory-modal-body {
  max-height: 70vh;
  overflow-y: auto;
  margin: 10px 10px 20px 18px;
  scrollbar-width: thin;
  scrollbar-color: #d8b8ff #f8f6f6;
}

.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-track {
  background: #bb87fa;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #d8b8ff;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: #bb87fa;
}

.required {
  color: red;
  margin-left: 4px;
  font-weight: bolder;
}

.text-danger {
  font-size: 13px;
  color: #c799ff;
}

.fogotpasswordlink {
  padding-left: 190px;
}

/* 🔹 Mobile View - Form Over Image */
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
    height: 100vh;
  }

  .imgBx {
    width: 100%;
    height: 100vh;
  }

  .imgBx img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .contentBx {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }

  .formBx {
    width: 90%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }
  .fogotpasswordlink {
    padding-left: 400px;
  }
}

/* 🔹 Small Mobile Screens */
@media screen and (max-width: 480px) {
  .formBx {
    width: 85%;
    padding: 20px;
  }

  .signuph2 {
    font-size: 1.3em;
  }

  .signupinputBx span {
    font-size: 14px;
  }

  .signupinput {
    font-size: 14px;
    padding: 8px 10px;
  }

  .signupbutton {
    font-size: 14px;
    padding: 8px 16px;
  }
  .fogotpasswordlink {
    padding-left: 90px;
  }
}

/* Add Home Member Modal Styles */
.add-home-member-modal {
  min-width: 35vw !important;
  padding-right: 0px !important;
}

.add-home-member-modal-body {
  max-height: 70vh;
  overflow-y: auto;
  margin: 0px 18px 10px 18px;
  scrollbar-width: thin;
  scrollbar-color: #d8b8ff #f8f6f6;
}

.custom-add-home-member-form-group {
  position: relative;
  margin-bottom: 32px;
}

.custom-add-home-member-form-group label {
  position: absolute;
  top: -14.5px;
  left: 12px;
  background: white;
  padding: 0px 6px;
  font-size: 14px;
  color: #49494a;
  font-weight: bold;
}

.custom-add-home-member-form-group input,
.custom-add-home-member-form-group select {
  width: 100%;
  padding: 12px;
  border: 2px solid #d8b8ff;
  border-radius: 30px;
  outline: none;
  font-size: 14px;
  background: white;
  appearance: none;
}

.custom-add-home-member-form-group input:focus,
.custom-add-home-member-form-group select:focus {
  border-color: #6a5acd !important;
}

.landingnavbarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1;
  position: fixed;
  width: 100%;
}

.landingnavbarlogo {
  cursor: pointer;
  width: 10vh;
}

.landingpagenavlink {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.landingpagenavlink li {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 14px;
}

.landingpagenavlink li a {

  text-decoration: none;
  color: #a367e4;
  font-weight: bold;
  transition: color 0.3s ease;
}

.landingpagenavlink li a:hover {
  color: #832ae3;
}

.landingpagebutton {
  padding: 9px 25px;
  background-color: rgb(187, 3, 163);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  font-weight: bold;
}

.landingpagebutton:hover {
  background-color: rgb(127, 0, 110);
}


.landingpage-container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
              url('./assets/LandingPage/landingbg.jpg'); /* Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh; /* Full height */
  display: flex;
  flex-direction: column;
}

/* Main Content Layout */
.landingpage-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  flex-grow: 1; /* Takes up remaining space */
}

/* Left Side Text */
.landingpage-text {
  color: white;
  max-width: 50%;
}

.landingpage-text h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.landingpage-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.get-started-btn {
  padding: 10px 30px;
  background-color: rgb(187, 3, 163);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.get-started-btn:hover {
  background-color: rgb(127, 0, 110);
}

/* Right Side Image */
.landingpage-image img {
  width: 100%;
  max-width: 520px;
}

/* Container for the icon and text */
.icon-container {
  position: relative;
  display: inline-block;
}

/* Hidden tooltip text */
.icon-name {
  visibility: hidden;
  width: 100px;
  background-color: #832ae3;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  right: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 15px;
  z-index: 1;
}

/* Show tooltip text on hover */
.icon-container:hover .icon-name {
  visibility: visible;
  opacity: 1;
}

/* Styling for the social media icons */
.social-media-icons {
  position: fixed;
  right: 30px;
  top: 75%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.socialmedia-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.socialmedia-icon:hover {
  background-color: #0073e6;
  color: #000000;
}

.socialmedia-icon.facebook {
  background-color: #3b5998;
}

.socialmedia-icon.twitter {
  background-color: #1da1f2;
}

.socialmedia-icon.instagram {
  background-color: #e4405f;
}

.socialmedia-icon.linkedin {
  background-color: #0077b5;
}
